main {
  //max-height: calc(100% - (4rem + 4rem));
  height: 100%;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}

.list-inline-item {
  list-style-type: none;
  display: block;
  margin: 5px 5px;
}

.list-inline {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2rem 0px;
}

.fa-ul {
  padding: 2rem 0px;
}

.project-img {
  width: 20rem;
  border-radius: 0.8rem;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0px;
}

.projectContainer {
  position: relative;
  margin: 1rem 0px;
}

.modal {
  position: absolute;
  width: 100%;
  height: 88.5%;
  top: 0;
  right: 0;
  border-radius: 0.8rem;
  &:hover {
    background: rgba(226, 203, 203, 0.466);
  }
}

#Projects h1 {
  word-wrap: break-word;
  word-break: break-all;
}

#Projects,
#About {
  background-color: map-get($map: $primary-blues, $key: "b3");
}
